.login_page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.login_page h3{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.login_page label{
  position: relative;
}
.login_page .form_icon{
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  color: rgb(170, 170, 170)
}

.login_page input{
  padding: 10px 30px;
  width: 250px;
  margin-bottom: 10px;
  background-color: lightgray;

  border: none;
  outline: none;
}
.login_page button{
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.7rem;
  color: white;
  background-color: var(--picton-blue);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto', 'Arial', sans-serif;
}
.login_page .sign_up {
  display: flex;
  justify-content: right;
  margin-top: 5px;
}
.login_page .sign_up span{
  color: var(--picton-blue);
  font-size: 0.8rem;
}
.login_page .sign_up span:hover{
  cursor: pointer;
  text-decoration: underline;
}
.login_page .form_error{
  font-size: 0.8rem;
  color: red;
  margin-top: 5px
}